.product-view-container {
  background: var(--white);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding: 0px 1.25em;
  justify-content: center;
}
.product-view-img-container {
  display: inline-flex;
  width: 50%;
  justify-content: center;
}

.product-view-img-container img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--gray5);
  border-radius: 5px 5px 0 0;
}

.product-view-info-container {
  margin-left: 1em;
  width: 50%;
  text-align: justify;
  display: flex;
  flex-direction: column;
}


.icon-back-arrow {
  margin: auto;
}

.product-view-middle-container {
  display: flex;
  margin-bottom: 1em;
}

.product-view-top-container {
  display: flex;
  flex-direction: row;
}

.product-view-top-container h1{
  margin: 1em auto;
  width: 100%;

}

.icon-back-arrow-link {
  display: flex;
}

.product-view-info-desc-container{
  height: 100%;
}

.product-view-info-desc-container h4{
  margin-top: 0px;
}

.product-view-info-price-container {
  width: 100%;
  display: flex;
  justify-content: center;

}
.product-view-info-price-container span {
  width: 100%;
  text-align: center;
  border: 2px solid #ec002ad4;
  color: var(--base);
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  background-color: transparent;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px var(--gray3);
  box-shadow: 0 2px var(--gray3);
}

.product-view-button-container{
  width: 100%;
}

.product-view-info-bottom-container{
  display: flex;
  align-items: center;
  width: 100%;
}