.Header {
  color: #fff!important;
  background-image: none;
  background-color: #173e5f;
  padding: 15px 20%;

  .Header-header {
    max-width: 30%;
  }

  .Header-title {
    font-size: 2em;
  }

  .Header-nav {
    margin: auto;
  }

  .Header-nav-item{
    margin: 0px 20px;
    border: solid 1px transparent;
    border-radius:0.25rem;

    :hover {
      color:#17a2b8;
      border: solid 1px #17a2b8!important;
      border-radius:0.25rem;
      transition: color 0.15s  ease-in-out, border-color 0.4s
    }
  }

  .Header-nav-item a {
    color: #fff;

  }
}
